{:format :kotoba.cljk-origin/v1
 :renamed-on "2026-09-11"
 :decision "adr-2609111500-cljk-rename-all-clojure-source (com-junkawasaki/root 90-docs/adr; owner instruction 2026-09-11)"
 :rule "value = the extension the file had before the rename. A path ending in .clj.cljk or .cljs.cljk kept it in the name because both platform files existed (or the plain target was taken)."
 :origins
 {"src/kagi/advisor.cljk" ".cljc"
  "src/kagi/agent.cljk" ".cljc"
  "src/kagi/agent_client.cljk" ".cljc"
  "src/kagi/agent_docs.cljk" ".cljc"
  "src/kagi/agent_http.cljk" ".cljc"
  "src/kagi/agent_protocol.cljk" ".cljc"
  "src/kagi/agent_registry.cljk" ".cljc"
  "src/kagi/agent_service.cljk" ".cljc"
  "src/kagi/autofill.cljk" ".cljs"
  "src/kagi/b64.cljk" ".cljc"
  "src/kagi/cacao.cljk" ".cljs"
  "src/kagi/chain_signer.cljk" ".cljc"
  "src/kagi/cli.cljk" ".cljs"
  "src/kagi/clipboard.cljk" ".cljs"
  "src/kagi/crypto.cljk" ".cljc"
  "src/kagi/crypto/noble.cljk" ".cljs"
  "src/kagi/crypto/reference.cljk" ".cljs"
  "src/kagi/device.cljk" ".cljs"
  "src/kagi/digest.cljk" ".cljc"
  "src/kagi/digest/reference.cljk" ".cljs"
  "src/kagi/governor.cljk" ".cljc"
  "src/kagi/identity.cljk" ".cljs"
  "src/kagi/import/onepassword.cljk" ".cljs"
  "src/kagi/incident.cljk" ".cljs"
  "src/kagi/key_registry.cljk" ".cljc"
  "src/kagi/key_rotation.cljk" ".cljs"
  "src/kagi/kotobase_seal.cljk" ".cljs"
  "src/kagi/ledger.cljk" ".cljc"
  "src/kagi/master_rotation.cljk" ".cljs"
  "src/kagi/native_key.cljk" ".cljs"
  "src/kagi/object_store.cljk" ".cljc"
  "src/kagi/operation.cljk" ".cljc"
  "src/kagi/passkey.cljk" ".cljs"
  "src/kagi/passkey_bridge.cljk" ".cljs"
  "src/kagi/persist.cljk" ".cljs"
  "src/kagi/phase.cljk" ".cljc"
  "src/kagi/pubkey.cljk" ".cljc"
  "src/kagi/recovery.cljk" ".cljs"
  "src/kagi/recovery_io.cljk" ".cljs"
  "src/kagi/repository_context.cljk" ".cljs"
  "src/kagi/rotation.cljk" ".cljs"
  "src/kagi/rotation_admission.cljk" ".cljs"
  "src/kagi/rotation_scheduler.cljk" ".cljs"
  "src/kagi/rotation_store.cljk" ".cljs"
  "src/kagi/secret_store.cljk" ".cljs"
  "src/scripts/nbb_compat.cljk" ".cljs"
  "src/kagi/security_readiness.cljk" ".cljs"
  "src/kagi/sim.cljk" ".cljs"
  "src/kagi/store.cljk" ".cljc"
  "src/kagi/sync.cljk" ".cljs"
  "src/kagi/ui.cljk" ".cljc"
  "src/kagi/ui/actions.cljk" ".cljc"
  "src/kagi/ui/server.cljk" ".cljc"
  "src/kagi/unlock.cljk" ".cljs"
  "src/kagi/vault.cljk" ".cljc"
  "src/kagi/vault_read.cljk" ".cljs"
  "src/kagi/witness.cljk" ".cljs"
  "src/kagi/witness_http.cljk" ".cljs"
  "src/kagi/witness_main.cljk" ".cljs"
  "src/kagi/witness_service.cljk" ".cljs"
  "test/kagi/agent_http_test.cljk" ".clj"
  "test/kagi/agent_object_service_test.cljk" ".clj"
  "test/kagi/agent_protocol_test.cljk" ".cljc"
  "test/kagi/agent_test.cljk" ".clj"
  "test/kagi/autofill_test.cljk" ".clj"
  "test/kagi/cacao_test.cljk" ".clj"
  "test/kagi/chain_signer_test.cljk" ".clj"
  "test/kagi/cli_bootstrap_test.cljk" ".clj"
  "test/kagi/clipboard_test.cljk" ".clj"
  "test/kagi/crypto/gen_interop_vectors.cljk" ".clj"
  "test/kagi/crypto/noble_interop_test.cljk" ".cljs"
  "test/kagi/crypto/noble_reverse_test.cljk" ".clj"
  "test/kagi/crypto/reference_aead_test.cljk" ".cljs"
  "test/kagi/crypto_test.cljk" ".clj"
  "test/kagi/device_test.cljk" ".clj"
  "test/kagi/digest/reference_test.cljk" ".cljs"
  "test/kagi/digest_noble_test.cljk" ".cljs"
  "test/kagi/file_secret_store_test.cljk" ".clj"
  "test/kagi/governor_abac_test.cljk" ".clj"
  "test/kagi/governor_contract_test.cljk" ".clj"
  "test/kagi/identity_store_test.cljk" ".clj"
  "test/kagi/import/onepassword_test.cljk" ".clj"
  "test/kagi/incident_test.cljk" ".clj"
  "test/kagi/ipfs_block_store_test.cljk" ".clj"
  "test/kagi/key_registry_test.cljk" ".clj"
  "test/kagi/key_rotation_test.cljk" ".clj"
  "test/kagi/kotobase_seal_test.cljk" ".clj"
  "test/kagi/ledger_test.cljk" ".clj"
  "test/kagi/master_rotation_test.cljk" ".clj"
  "test/kagi/native_key_test.cljk" ".clj"
  "test/kagi/object_block_store_test.cljk" ".clj"
  "test/kagi/object_store_test.cljk" ".clj"
  "test/kagi/passkey_bridge_test.cljk" ".clj"
  "test/kagi/passkey_test.cljk" ".clj"
  "test/kagi/persist_test.cljk" ".clj"
  "test/kagi/phase_matrix_test.cljk" ".clj"
  "test/kagi/portable_slice_test.cljk" ".clj"
  "test/kagi/recovery_drill_test.cljk" ".clj"
  "test/kagi/recovery_io_test.cljk" ".clj"
  "test/kagi/recovery_test.cljk" ".clj"
  "test/kagi/repository_context_test.cljk" ".clj"
  "test/kagi/rotation_admission_test.cljk" ".clj"
  "test/kagi/rotation_infra_test.cljk" ".clj"
  "test/kagi/rotation_test.cljk" ".clj"
  "test/kagi/secret_store_test.cljk" ".clj"
  "test/kagi/security_readiness_test.cljk" ".clj"
  "test/kagi/store_contract_test.cljk" ".clj"
  "test/kagi/storj_block_store_test.cljk" ".clj"
  "test/kagi/sync_object_test.cljk" ".clj"
  "test/kagi/sync_test.cljk" ".clj"
  "test/kagi/ui_actions_test.cljk" ".clj"
  "test/kagi/ui_server_test.cljk" ".clj"
  "test/kagi/ui_test.cljk" ".clj"
  "test/kagi/unlock_test.cljk" ".clj"
  "test/kagi/vault_read_test.cljk" ".clj"
  "test/kagi/witness_http_test.cljk" ".clj"}}
