{:adoption/version 2 :consumer/id :kagi
 :security/git-sha "23caaefa6ca35904f9d0c2dc0cbb3bec91ae8956"
 :required-control-namespaces [kotoba.security.abac kotoba.security.information-flow]
 :security-sensitive-entrypoints
 {kagi.governor [kotoba.security.abac kotoba.security.information-flow]}
 :exceptions []}
