{:adoption/version 2 :consumer/id :kagi
 :security/git-sha "49fc4ce359752e9fe6e547e9071b5b9b40da937a"
 :required-control-namespaces [kotoba.security.abac kotoba.security.information-flow]
 :security-sensitive-entrypoints
 {kagi.governor [kotoba.security.abac kotoba.security.information-flow]}
 :exceptions []}
